@import "app.scss";
html{
	body{ background-image:url('../images/squairy_light_@2X.png');
	h1{text-align:center;} 
	section{ @include grid-row;
		ul{ @include grid-column(12); @include panel;
			li{ 
				@include grid-column(12);
				float:left;
				h2{@include grid-column(8);}
				input{}
				label{}
				img{
					@include grid-column(10);
					padding-bottom: 1em;
				}
				hr{padding: 1em 0em 0em 0em}

			}
				a.remove{
					position:absolute;
					right:0;
					@include button-size;
					@include button-style;
					@include radius;
					@include single-transition;
				}	

		
		}
			
		
			section{
				@include grid-row;
				padding:.5em;
				span{}
			}		

	}
	form{ @include grid-column(12);
			label{}
			input{}
			section{
				button{  
					@include button-base;
  					@include button-size;
  					@include button-style;
  					@include radius;
  					@include single-transition;
  					@include inset-shadow(#000);
				}
			}
		}
	}
}