@import "app.scss";
html{
	body{
	h1{text-align:center;} 
	section{ @include grid-row;
		ul{ @include grid-column(10); @include panel;
			li{ 
				@include grid-column(10);
				float:left;
				input{}
				label{}

			}
				a{	
					@include button-size;
					@include button-style;
					@include radius;
					@include single-transition;
				}	

		
		}
			
		
			section{
				@include grid-row;
				padding:.5em;
				span{}
			}		

	}
	form{ @include grid-column(12);
			label{}
			input{}
			section{
				button{  
					@include button-base;
  					@include button-size;
  					@include button-style;
  					@include radius;
  					@include single-transition;
  					@include inset-shadow(#000);
				}
			}
		}
	}
}